.landing-container {
    width: auto;
}
.landing-container main{
    height: 50vh;
    flex-wrap: wrap;
    text-align: start;
    margin-bottom: 5cap;
}
.landing-container main aside{
    height: 20em;
    width:20em;
    background-color: black;
}
.landing-container main h1{
    font-size: 300%;
    font-weight: 700;
}
.landing-container main h3{
    margin: 2em 0;
    font-weight: 500;
}
.landing-container main button{
    padding: 2% 3%;
}
.landing-container .blurb{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap:15px;
   padding:0 5px ;
}
.landing-container .blurb article{
    border: 3px solid var(--tertiary-font);
    border-radius: 30px;
}
.landing-container .blurb article .mini-img{
    background-color: black;
    width: 200px;
    height: 200px;
    padding: 2%;
}