.landing-container {
    height: 100vh;
    width: auto;
}
.landing-container main{
    height: 50vh;
    /* flex-wrap: wrap; */
    text-align: start;
    margin-bottom: 5cap;
}
.landing-container main aside{
    height: 20em;
    width:20em;
    background-color: black;
}
.landing-container main h1{
    font-size: 300%;
    font-weight: 700;
}
.landing-container main h3{
    margin: 2em 0;
    font-weight: 500;
}
.landing-container main button{
    padding: 2% 3%;
}
/* .landing-container aside{
} */