.form-container {
    width: 100vw;
}
.form-container .first-step-container{
    display:flex;
    align-items: center;
}
.form-container .second-step-container {
   padding-top:5%;
}
.form-container .second-step-container h1{
    margin-bottom: 13%;
    padding: 0 35%;
 }
.form-container .text-container{
    text-align: center;
    width: 50%;
}
.form-container h1{
    font-size: 2rem;
    color: var(--light-primary);
    padding: 0 26%;
    text-wrap: wrap;
}
.form-container .text-container h6 {
    color:var(--quaterly-font);
    margin:8% 0;
    padding: 0 26%;
}
.form-container .input-container {
    display:flex;
    flex-direction: column;
    align-items: start;
    padding-left:27%;
}
.form-container section label {
    margin-bottom: 3%;
    font-size:0.8rem;
    color:var(--quaterly-font);
}
.form-container section input {
    padding: 4.5% 26% 4.5% 4.5% ;
}
/* radio buttons */
.form-container .radio-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.form-container .radio-container input[type="radio"] {
    display:none;
}
.form-container .radio-label img {
    width: 100px;
    height: 100px;
}

.form-container button {
    margin-left:1%;
    color:var(--primary);
}
.form-container button svg{
    font-size: 1.5rem;
}
