
.form-container .step-container{
    display:flex;
    align-items: center;
}
.form-container header {
    height: 100vh;
    color: var(--light-primary);
    margin-bottom: 3%;
}
.form-container header h1{
    font-size: 5rem;
    text-wrap: wrap;
}
.form-container header h6 {
    font-size: 2rem;
    color: var(--secondary-font);
    margin:8% 0;
    padding: 0 26%;
}
.form-container .text-container{
    margin-top: 10%;
    height:100vh;
}

.form-container .text-container h6 {
    color:var(--quaterly-font);
    margin:8% 0;
    padding: 0 26%;
}
.form-container .input-container {
    display:flex;
    flex-direction: column;
    align-items: start;
}
.form-container section label {
    margin-bottom: 3%;
    font-size:0.8rem;
    color:var(--quaterly-font);
}
.form-container section input {
    width: 50vw;
    border: 0;
    padding: 4.5% 26% 4.5% 4.5% ;
    background-color: transparent;
    border-bottom: 2px solid black;
    outline: 0;
}
/* radio buttons */
.form-container .radio-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.form-container .radio-container input[type="radio"] {
    display:none;
}
.form-container .radio-label img {
    width: 100px;
    height: 100px;
}

.form-container button {
    margin-left:1%;
    color:var(--primary);
}
.form-container button svg{
    font-size: 1.5rem;
}
